* {

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial, sans-serif;

}



body {


height:100vh;


background:#050816;


color:white;


}



/* основной экран */


.games {


padding:30px;


}




.games h1 {


font-size:32px;


margin-bottom:25px;


}





/* кнопка игры */


.game-card {


width:100%;


background:#121c38;


border-radius:25px;


padding:20px;


display:flex;


align-items:center;


gap:20px;


cursor:pointer;


border:1px solid rgba(255,255,255,0.08);


transition:.25s;


}



.game-card:hover {


background:#192750;


transform:translateY(-4px);


}





.game-icon {


width:70px;


height:70px;


background:#2563eb;


border-radius:22px;


display:flex;


justify-content:center;


align-items:center;


font-size:38px;


}





.game-text h2 {


font-size:22px;


margin-bottom:8px;


}





.game-text p {


font-size:14px;


color:#aab5d0;


}








/* нижнее меню */


.bottom-menu {


position:fixed;


bottom:0;


left:0;


width:100%;


height:85px;


background:#111c38;


border-radius:25px 25px 0 0;


display:flex;


justify-content:space-around;


align-items:center;


}




.menu-item {


display:flex;


flex-direction:column;


align-items:center;


color:white;


opacity:.6;


font-size:13px;


}



.menu-item.active {


opacity:1;


}



.menu-icon {


font-size:25px;


margin-bottom:5px;


}